* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.7rem;
  font-family: "Rubik";
}

::-webkit-input-placeholder {
  /* Edge */
  color: #ccc;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

::placeholder {
  color: #ccc;
}
